<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="index">
    <head>
        <title>Form Access Menu</title>
    </head>
    <body>
        <section layout:fragment="content">
            <section class="content-header">
                <h1>
                    Access Menu
                    <small>Form</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li>Settings</li>
                    <li class="active">Access Menu</li>
                </ol>
            </section>

            <section class="content">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <form class="form-horizontal" method="post" th:object="${role}">
                                    <!-- 		               <input type="hidden" th:field="*{id}" id="id"/> -->
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="name" class="control-label">Role Name</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" 
                                                   th:field="*{name}"
                                                   class="form-control" id="name" placeholder="Nama Role" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="description" class="control-label">Description</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <textarea cols="20" rows="5" 
                                                      th:field="*{description}"
                                                      class="form-control" id="description" placeholder="Deskripsi"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="permissionSet" class="control-label">Menu Access</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <table class="table table-condensed table-striped table-bordered table-responsive table-hover table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="col-sm-1">
                                                            <input id="checkAll" th:onchange="'selectAllItems();'" 
                                                                   type="checkbox" th:checked="${isCheckAll}"/>
                                                        </th>
                                                        <th class="col-sm-11">Menu Access</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr th:each="p : ${permissions}">
                                                        <td class="rata-tengah">
                                                            <input id="checkItem" name="permissionSet"
                                                                   type="checkbox" th:value="${p.id}"
                                                                   th:checked="${role.permissionSet.contains(p)}"
                                                                   th:onchange="'itemSelected(\''+ ${permissions.size()} +'\');'"/>
                                                        </td>
                                                        <td th:text="${p.permissionLabel}" > - </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group pull-right">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </body>
    <div th:remove="tag" layout:fragment="footer-scripts">
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            
            /*]]>*/
        </script>
    </div>
</html>