<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="index">
    <head>
        <title>List Access Menu</title>
    </head>
    <body>
        <section layout:fragment="content">

            <section class="content-header">
                <h1>
                    Access Menu
                    <small>List</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li>Settings</li>
                    <li class="active">Access Menu</li>
                </ol>
            </section>

            <section class="content">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4 pull-right">
                                <form name="deleteForm" th:action="@{/role/delete}"></form>
                                <form>
                                    <div class="input-group">
                                        <input type="hidden" name="size" th:value="${#httpServletRequest.getParameter('size')}" />
                                        <input type="text" name="filter" th:value="${#httpServletRequest.getParameter('filter')}" class="form-control" placeholder="Search Role Access" />
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-warning" title="Search Role Access">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>            	
                        </div>
                        <br />

                        <div class="table-responsive">
                            <table class="table table-condensed table-striped table-bordered table-hover table-fixed">
                                <thead>
                                    <tr>
                                        <th class="col-md-4">Role Name</th>
                                        <th class="col-md-7">Description</th>
                                        <th class="col-md-1 text-center" sec:authorize="hasAnyRole('ROLE_FORM_ACCESS','ROLE_DELETE_ACCESS')">
                                            <a sec:authorize="hasRole('ROLE_FORM_ACCESS')" th:href="@{/role/form}" style="width: 100px;" title="Add Access Menu">
                                                <span>
                                                    <i class="fa fa-plus"></i>
                                                </span>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="role : ${listRoles}">
                                        <td th:text="${role.name}" > - </td>
                                        <td th:text="${role.description}" > - </td>
                                        <td class="text-center" sec:authorize="hasAnyRole('ROLE_FORM_ACCESS','ROLE_DELETE_ACCESS')">
                                            <a sec:authorize="hasRole('ROLE_FORM_ACCESS')" th:href="@{/role/form(id=${role.id})}" title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a sec:authorize="hasRole('ROLE_DELETE_ACCESS')" th:onclick="'javascript:deleteRecord(\'' + ${role.id} + '\');'" title="Delete">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div sd:pagination-summary="">Info</div>
                            </div>
                            <div class="col-sm-6">
                                <nav class="pull-right">
                                    <ul class="pagination" sd:pagination="full">
                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </body>

    <div th:remove="tag" layout:fragment="footer-scripts">
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            function deleteRecord(idrecord) {
                bootbox.confirm("Are you sure to delete this record ?", function (result) {
                    if (result) {
                        var form = document.deleteForm;
                        if (document.getElementById('txtId')) {
                            document.getElementById('txtId').remove();
                        }

                        var input = document.createElement("input");
                        input.id = "txtId";
                        input.type = "hidden";
                        input.name = "id";
                        input.value = idrecord;

                        form.appendChild(input);
                        document.deleteForm.submit();
                    }
                }).find('.modal-content').addClass('panel-warning').find('.modal-body').addClass('panel-heading');
            }
            
            $(function() {
                var errmsgs = /*[[${session.keyErrorMsg}]]*/ '';
                if(errmsgs){
                    $.notify({
                        message: errmsgs
                    },{
                        type: 'danger'
                    });
                }
                $.post(/*[[@{/api/reset/message}]]*/"");
            });
            /*]]>*/
        </script>
    </div>
</html>